---
import Layout from "../layouts/Layout.astro";
import FirstHero from "../components/front-page-comps/FirstHero.astro";
import SkillsSection from "../components/front-page-comps/SkillsSection.astro";
import FirstAnimation from "../components/front-page-comps/FirstAnimation.astro";
import SecondAnimation from "../components/front-page-comps/SecondAnimation.astro";
import PastProjectsSection from "../components/front-page-comps/PastProjectsSection.astro";
import Divider from "../components/Divider.astro";
import Footer from "../components/Footer.astro";
import FloatingContactBar from "../components/FloatingContactBar.astro";
import Navigation from "../components/Navigation.astro";
import ContactBar from "../components/ContactBar.astro";
import EducationSection from "../components/front-page-comps/EducationSection.astro";
import ThirdAnimation from "../components/front-page-comps/ThirdAnimation.astro";
---

<Layout
  description="Web developer capable of building various web solutions with 3 years of work experience. I possess an advanced level of English. I utilize Typescript as the programming language."
  title="Mohsen Salahshour Majd - Web Developer"
>
  <!-- The bottom padding on mobile for the main tag is due to 
    the fact that the ContactBar becomes fixed at the bottom of the screen
    when the user scrolls past the ContactBar.
  -->
  <main class="pb-[130px] lg:pb-0 bg-slate-50">
    <FloatingContactBar />
    <ContactBar id="contact-bar" />
    <Navigation
      id="navigation"
      class="px-4 lg:px-24 text-slate-950 bg-lime-400"
    />
    <FirstHero />
    <Divider />
    <FirstAnimation />
    <SkillsSection />
    <Divider />
    <SecondAnimation />
    <PastProjectsSection />
    <Divider />
    <ThirdAnimation />
    <EducationSection />
    <Footer />
  </main>
</Layout>

<style></style>
<script>
  import "@dotlottie/player-component";
  window.onscroll = function () {
    onPageScroll();
  };
  function onPageScroll() {
    if (
      document.body.scrollTop > 50 ||
      document.documentElement.scrollTop > 50
    ) {
      document
        ?.getElementById("navigation")
        ?.classList.add("w-full", "z-10", "fixed", "top-0");
      document
        ?.getElementById("contact-bar")
        ?.classList.add("fixed", "bottom-0", "z-10", "lg:hidden");
    } else {
      document
        ?.getElementById("navigation")
        ?.classList.remove("w-full", "z-10", "fixed");
      document
        ?.getElementById("contact-bar")
        ?.classList.remove("fixed", "bottom-0", "z-10", "lg:hidden");
    }
  }
</script>
