---
import { Icon } from "astro-icon/components";
---

<footer>
  <p class="px-2 lg:px-4 h-12 mt-8 flex items-center bg-lime-400 text-slate-950 justify-center lg:justify-start ">
    Designed And Developed by Myself With <Icon
      name="fluent:heart-16-filled"
      class="text-3xl inline-block"
    />
  </p>
</footer>
