---
const { class: className, ...rest } = Astro.props;
import myPhoto from "../assets/images/front-page/me.jpg";
import { Image } from "astro:assets";
---

<section class={`${className} px-6 bg-primary text-white`} {...rest}>
  <nav
    id="desktop-nav"
    class="hidden lg:flex items-center justify-between h-[80px] text-xl rounded-b-3xl"
  >
    <ul class="flex gap-x-6">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#skills-point" class="cursor-pointer">Skills</a>
      </li>
      <li>
        <a href="#projects-point" class="cursor-pointer">Past Projects</a>
      </li>
      <li>
        <a href="#education-point" class="cursor-pointer">Education</a>
      </li>
    </ul>
  </nav>

  <nav
    class="hidden absolute top-0 left-[100px] h-screen w-[calc(100dvw-100px)] z-50 bg-primary text-white text-2xl"
    id="mobile-nav"
  >
    <div class="mt-4 ms-4 font-bold text-2xl">
      <Image
        src={myPhoto}
        alt="my photo"
        width="150"
        height="150"
        class="rounded-lg mx-auto"
      />
      <ul class="mt-2">
        <li>
          <a href="/">Home</a>
        </li>
        <li class="mt-2">
          <a href="#skills-point">Skills</a>
        </li>
        <li class="mt-2">
          <a href="#projects-point">Past Projects</a>
        </li>
        <li class="mt-2">
          <a href="#education-point">Education</a>
        </li>
      </ul>
    </div>
  </nav>
  <div
    id="overlay"
    class="hidden absolute top-0 left-0 h-screen w-full bg-violet-950/[0.3]"
  >
  </div>
  <div class="lg:hidden h-[80px] flex items-center">
    <svg
      id="nav-toggle"
      xmlns="<http://www.w3.org/2000/svg>"
      class="ms-auto h-12 w-12 rounded-lg cursor-pointer"
      fill="none"
      viewBox="0 0 24 24"
      stroke="#ffffff"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </div>
</section>

<script>
  const navToggle = document.querySelector("#nav-toggle");
  const overlay = document.querySelector("#overlay");
  const mobileNav = document.querySelector("#mobile-nav");
  navToggle?.addEventListener("click", () => {
    mobileNav?.classList.toggle("hidden");
    overlay?.classList.toggle("hidden");
  });

  overlay?.addEventListener("click", () => {
    mobileNav?.classList.add("hidden");
    overlay?.classList.add("hidden");
  });
</script>
