---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  description="توسعه دهنده وب با ۳ سال سابقه کار بین و المللی. تسلط به زبان انگلیسی در سطح پیشرفته. استفاده از زبان برنامه نویسی تایپ اسکریپت در پروژه ها."
  title="محسن سلحشور مجد - توسعه دهنده وب"
>
  <main>صفحه اصلی</main>
</Layout>

<style></style>
