---
layout: layout.njk
title: Mohsen Majd
desc: Software developer specializing in Angular, Java, SQL & Git.

pagination:
  data: collections.post
  size: 5
  reverse: true
  alias: posts

---

<div id="container">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <h1 class="main-page-heading">
                Mohsen Majd
            </h1>
            <img src="/static/img/my-photo.jpg" class="my-photo">

            <h3>Full-stack Web Developer</h3>
            <h5>
                Main Skills
            </h5>
            <span class="main-skill-block">
                <span>Nest.js</span>
            </span>
            <span class="main-skill-block">
                <span>Reactjs</span>

            </span>
            <span class="main-skill-block">
                <span>Relational DB</span>
            </span>
            <span class="main-skill-block">
                <span>Graph DB (Neo4j)</span>
            </span>

            <h5>
                Practical Skills
            </h5>

            <div class="prac-skill-block-container">
                <span class="prac-skill-block">
                    HTML
                </span>
                <span class="prac-skill-block">
                    CSS
                </span>
                <span class="prac-skill-block">
                    Javascript
                </span>
                <span class="prac-skill-block">
                    Typescript
                </span>
                <span class="prac-skill-block">
                    TDD
                </span>
            </div>
            <div class="prac-skill-block-container">
                <span class="prac-skill-block">
                    Linux
                </span>
            </div>

        </div>
        <div class="mdl-cell mdl-cell--6-col ">

            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                type="module"></script>

            <dotlottie-player id="main-animation"
                src="https://lottie.host/1ff7a632-770e-40bc-af35-decd7e48ac47/vey12Kg5WM.json" background="transparent"
                speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>


            <h3>Education</h3>
            <ul class="education-list ">
                <li>
                    <span>
                        <div><i class="fa-solid fa-graduation-cap fa-2xl"></i>
                            <span class="education-list-item-heading">Bachelor's of Information Technology</span>
                        </div>
                        <span class="education-list-item-body">
                            Graduated with a high standing.
                        </span>
                    </span>

                </li>
                <li>
                    <span>
                        <div>
                            <i class="fa-solid fa-graduation-cap fa-2xl"></i>
                            <span class="education-list-item-heading">Certificate: Front-end Development Path</span>
                        </div>
                        <span class="education-list-item-body">
                            I successfully finished the Front-end Development Path on <a href="educative.io">Educative
                                Inc</a>.
                            <a href="https://www.educative.io/verify-certificate/nZp3lECx7mrVN2r8zHPDGKZXlM4XsQ">View
                                Certificate</a>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <div><i class="fa-solid fa-graduation-cap fa-2xl"></i>
                            <span class="education-list-item-heading">Certificate: Git & Version Control</span>
                        </div>
                        <span class="education-list-item-body">
                            I successfully finished the Git & Version Control course on <a href="educative.io">Educative
                                Inc</a>.
                            <a href="https://www.educative.io/verify-certificate/nZp3lECx7mrVN2r8zHPDGKZXlM4XsQ">View
                                Certificate</a>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <div>
                            <i class="fa-solid fa-graduation-cap fa-2xl"></i>
                            <span class="education-list-item-heading">International English Language Testing System
                                (IELTS)</span>
                        </div>
                        <span class="education-list-item-body">
                            I recieved my IELTS certificate on Jan 2022 with an overall band score of 6.5.
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <div><i class="fa-solid fa-graduation-cap fa-2xl"></i>
                            <span class="education-list-item-heading">Duolingo English Test</span>
                        </div>
                        <span class="education-list-item-body">
                            I recieved my Duolingo English Test certificate on March 2023 with an overall score of
                            130/160.
                            <a href="https://certs.duolingo.com/6a4cc236d5975fe2b450ccfa89c48f39">View Certificate</a>
                        </span>
                    </span>
                </li>
            </ul>

            <h3>
                Experience
            </h3>
            <ul class="experience-list">
                <li>
                    <span>
                        <div>
                            <i class="fa-solid fa-graduation-cap fa-2xl"></i>
                            <span class="experience-list-item-heading">XFilPak Inc - Aug 2021 - Present</span>
                        </div>
                        <span class="experience-list-item-body">
                            At XFilPak, I had the opportunity to design and develop the company's main website from
                            scratch.
                            You can visit the website at <a href="xfilpak.ca">xfilpak.ca</a>.
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col latest-blog-posts-section">
        <!-- Latest Blog Posts Section -->

        <h3>Latest Blog Posts</h3>
        {% for post in posts %}
        <article>
            <h4>
                <a href="{{post.url | url }}">{{ post.data.title }}</a>
            </h4>
            <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
            <p>
                {{ post.data.page.excerpt }}

            </p>
            <a href="{{post.url | url }}" aria-label="Read more on {{ post.data.title }}">Read more</a>

        </article>
        {% endfor %}
    </div>
    <div class="mdl-cell mdl-cell--6-col">

    </div>
</div>