---
// Supports weights 400-700
import "@fontsource-variable/lora";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const currentLocale = Astro.currentLocale;
---

<!doctype html>
<html
  lang={currentLocale === "en-US" ? "en" : "fa"}
  dir={currentLocale === "en-US" ? "ltr" : "rtl"}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html,
  body {
    scroll-behavior: smooth;
  }
</style>
