---
import { Icon } from "astro-icon/components";
---

<section class="p-4 lg:py-8 " id="education-section">
  <h2 class="text-center text-6xl">Education</h2>
  <div class="w-full lg:w-1/2 mx-auto mt-16">
    <ul class="w-full text-xl">
      <li class="h-60 lg:h-48 p-4 rounded-xl border-[1px] border-white">
        <div class="flex justify-between lg:items-center">
          <Icon name="fluent:hat-graduation-28-filled" class="text-7xl" />

          <div class="text-end w-2/3">
            <h3 class="text-4xl">Bachelor's of Information Technology</h3>
            <p class="text-base mt-1">September 2014 to 2019</p>
          </div>
        </div>
      </li>
      <li class="h-60 lg:h-48 mt-7 p-4 rounded-xl border-[1px] border-white">
        <div class="flex justify-between lg:items-center">
          <Icon name="fluent:hat-graduation-28-filled" class="text-7xl" />

          <div class="text-end w-2/3">
            <h3 class="text-4xl">International English Language Testing System</h3>
            <p class="text-base mt-1">Issued January 2022</p>
            <p class="text-base mt-1">Score: 6.5/9</p>
          </div>
        </div>
      </li>
      <li class="h-60 lg:h-48 mt-7 p-4 rounded-xl border-[1px] border-white">
        <div class="flex justify-between lg:items-center">
          <Icon name="fluent:hat-graduation-28-filled" class="text-7xl" />

          <div class="text-end w-2/3">
            <h3 class="text-4xl text-end">
              Duolingo English Test Certificate
            </h3>
            <p class="text-base mt-1">Issued March 2023</p>
            <p class="text-base mt-1">Score: 130/160</p>
            <a
              class="text-base mt-1 underline"
              href="https://certs.duolingo.com/6a4cc236d5975fe2b450ccfa89c48f39"
            >
              Verify Certificate
            </a>
          </div>
        </div>
      </li>
      <li class="h-60 lg:h-48 mt-7 p-4 rounded-xl border-[1px] border-white">
        <div class="flex justify-between lg:items-center">
          <Icon name="fluent:hat-graduation-28-filled" class="text-7xl" />

          <div class="text-end w-2/3">
            <h3 class="text-4xl text-end">
              Become A Front-end Developer
            </h3>
            <p class="text-base mt-1">Issued September 2021</p>
            <a
              class="text-base mt-1 underline"
              href="https://www.educative.io/verify-certificate/nZp3lECx7mrVN2r8zHPDGKZXlM4XsQ"
            >
              Verify Certificate
            </a>
          </div>
        </div>
      </li>
      <li class="h-60 lg:h-48 mt-7 p-4 rounded-xl border-[1px] border-white">
        <div class="flex justify-between lg:items-center">
          <Icon name="fluent:hat-graduation-28-filled" class="text-7xl" />

          <div class="text-end">
            <h3 class="text-4xl text-end">
              A Guide to Git And Version Control
            </h3>
            <p class="text-base mt-1">Issued March 2023</p>
            <a
              class="text-base mt-1 underline"
              href="https://www.educative.io/verify-certificate/qjv3oKCJw1xy9n3qLHpkwYE9mgW9FK"
            >
              Verify Certificate
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
