---

---
<section class="h-96">
<canvas id="section-graphics" width="100%" height="100%">

</canvas>
</section>
<script>
    var canvas = document.getElementById('section-graphics') as HTMLCanvasElement;
   
    if (canvas?.getContext) {
        var ctx = canvas.getContext('2d');
        
    }

</script>