---
import { Icon } from "astro-icon/components";
---

<section class="p-4 lg:py-8 lg:px-24" id="skills-section">
  <h2 class="text-center text-6xl">
    Equipped With <span class="text-secondary font-bold">Industry Standard</span> Skills
  </h2>
  <div class="mt-16 flex flex-wrap justify-center text-3xl">
    <div class="flex justify-center w-full lg:w-2/4">
      <div class="inline-block me-10">
        <div class="flex items-center gap-x-2">
          <Icon name="cib:typescript" class="inline-block" />
          <p class="inline-block">Nest.js</p>
        </div>
        <div class="flex items-center gap-x-2 mt-3">
          <Icon name="cib:next-js" class="inline-block" />
          <p class="inline-block">Next.js</p>
        </div>
        <div class="flex items-center gap-x-2 mt-3">
          <Icon name="cib:typescript" class="inline-block" />
          <p class="inline-block">Astro</p>
        </div>
        <div class="flex items-center gap-x-2 mt-3">
          <Icon name="cib:postgresql" class="inline-block" />
          <p class="inline-block">PostgreSQL</p>
        </div>
      </div>
      <div class="inline-block">
        <div class="flex items-center gap-x-2">
          <Icon name="cib:neo4j" class="inline-block" />
          <p class="inline-block">Neo4j</p>
        </div>
        <div class="flex items-center gap-x-2 mt-3">
          <Icon name="cib:linux" class="inline-block" />
          <p class="inline-block">Linux</p>
        </div>
        <div class="flex items-center gap-x-2 mt-3">
          <Icon name="cib:git" class="inline-block" />
          <p class="inline-block">Git</p>
        </div>
        <div class="flex items-center gap-x-2 mt-3">
          <Icon name="cib:docker" class="inline-block" />
          <p class="inline-block">Docker</p>
        </div>
      </div>
    </div>
  </div>
</section>
