---

---
<div class="px-4 lg:px-24 flex justify-center lg:justify-end">
    <div class="w-3/5 lg:w-1/3">
      <dotlottie-player
        src="/animations/fbM5OC29e3.lottie"
        background="transparent"
        speed="1"
        loop
        autoplay></dotlottie-player>
    </div>
  </div>
  